<h1>4 lastest albums</h1>

<div class="row">
  <div class="col-12 col-sm-6">
    <%= @albums[0].title%><br>
    <%= @albums[1].title%>
  </div>
  <div class="col-12 col-sm-6">
    <%= @albums[2].title%><br>
    <%= @albums[3].title%>
  </div>
</div>
