body {
  margin: 0;
  padding: 2px 0px 0px 0px;
  font-family: Helvetica, sans-serif;
}
.page-title {
  color: rgb(53, 84, 144);
  text-align: center;
  margin-top: 100px;
  font-size: 36px;
}
/* navigation bar */
.nav-bar {
  list-style-type: none;
  margin:0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(59, 89, 153);
  height: 40px;
  color: white;
}
li {
  float: left;
  color: inherit;
}
li button, input{
  border: none;
  border-radius: 5px;
}
li button:hover {
  background-color: rgb(50, 80, 140);
}
.btnHome {
  background-color: inherit;
  color: inherit;
  font-size: 20px;
  padding: 10px;
  margin: 0px 10px 0px 110px;
}
.search-bar {
  margin: 4px;
  height: 30px;
  width: 500px;
}
.btnLogin {
  background-color: inherit;
  color: inherit;
  font-size: 16px;
  margin-right: 120px;
  padding: 10px;
}
/* sign up content */
.container {
  margin: auto;
  margin-bottom: 80px;
  padding-top: 50px;
  padding-bottom: 12px;
  background-color: rgb(249, 249, 249);
  width: 500px;
  height: 100%;
  border-radius: 20px ;
  box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}
.content {
  padding-top: 20px;
  padding-left: 80px;
  font-size: 16px
}
.big-label {
  font-weight: bold;
}
.input-text {
  font-size: inherit;
  height:40px;
  width: 320px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  margin-top: 6px;
  margin-bottom: 16px;
  padding-left: 20px;
}
.select {
  margin: 12px 6px;
  font-size: inherit;
  height: 40px;
  width: 120px;
}
.option {
  font-size: inherit;
}
.form {
  padding-top:10px;
  padding-bottom: 10px;
  margin-bottom: 12px;
}
.btn-container {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.btnSignup {
  background-color: rgb(59, 89, 153);
  color: white;
  text-align: center;
  border: none;
  border-radius: 5px;
  width: 140px;
  height: 50px;
  font-size:18px;
}
.btnSignup:hover {
  background-color: rgb(50, 80, 140);
}
.btnSignup:active {
  background-color: rgb(59, 89, 153);
}
